body {
  font-family: helvetica, sans-serif;
  font-size: 18px;
}

header {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
display: flex;
background-color: cadetblue;
font-family: Helvetica;
font-size: 1rem;
width: 100%;
color: white;
margin-top: 1rem;
}

.logo span {
  padding-left: 1rem;
  padding-top: 1rem;
}

.logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

nav ul {
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 410px;
}
